{% extends "predictapp/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Institut Teknologi Bandung<br />
    Febi Dwi Haryono, WA 0856-xxx<br />
    <abbr title="Phone">P:</abbr>
    021 xxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Maerkting@example.com">Marketing@example.com</a>
</address>

{% endblock %}
